[Unit]
Description=Mesos slave
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=/bin/bash -c "curl -sSL -o /opt/bin/zkNodeUrls https://soficom.s3.amazonaws.com/zkNodeUrls && chmod +x /opt/bin/zkNodeUrls"
ExecStartPre=-/usr/bin/docker kill mesos-slave
ExecStartPre=-/usr/bin/docker rm mesos-slave
ExecStartPre=/usr/bin/docker pull aledbf/mesos-slave:0.22.1
ExecStart=/usr/bin/sh -c "ZKNODES=$(/opt/bin/zkNodeUrls -peers=$COREOS_PRIVATE_IPV4:4001) && /usr/bin/docker run \
  --name=mesos-slave \
  --net=host \
  --privileged \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  -v /sys:/sys \
  -v /usr/bin/docker:/usr/bin/docker:ro \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /lib64/libdevmapper.so.1.02:/lib/libdevmapper.so.1.02:ro \
  aledbf/mesos-slave:0.22.1 \
ExecStop=/usr/bin/docker stop mesos-slave

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

